.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-container {
  width: 70%;
}

.list-item-song {
  transition: color 0.3s linear;
  cursor: pointer;
}

.list-item-song:hover .song-name {
  transition: color 0.3s linear;
  color: #4286f4;
}

@media (max-width: 920px) {
  .list-container {
    width: 95%;
    padding-bottom: 2rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-player-container {
  background: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.active-song {
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 25%;
}

.center-panel {
  width: 50%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.functional-buttons {
  width: 75%;
  justify-content: center;
  display: flex;
  padding-bottom: 0.5rem;
}

.functional-buttons > button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.song-progress {
  width: 80%;
  justify-content: center;
  display: flex;
}

.song-volume {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
