body {
  overflow: hidden;
  background-color: #282828;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282828;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  color: white;
}

.App-link {
  color: #61dafb;
}

.player-container {
  width: 100%;
  height: 87vh;
  background: #fff;
}

.list-item-song {
  transition: color 0.3s linear;
  cursor: pointer;
}

.list-item-song:hover .song-name {
  transition: color 0.3s linear;
  color: #4286f4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-player-container {
  background: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 0.5rem;
}

.active-song {
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 25%;
}

.center-panel {
  width: 50%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.functional-buttons {
  width: 75%;
  justify-content: center;
  display: flex;
}

.functional-buttons > button {
  margin: 1rem 1rem 0rem 1rem;
}

.song-progress {
  width: 80%;
  justify-content: center;
  display: flex;
  padding-bottom: 1rem;
}

.song-volume {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.player-expander {
  position: absolute;
  top: -1rem;
  margin-left: auto;
  margin-right: auto;
  background: #47494c;
  border-radius: 25%;
  display: flex;
  justify-content: center;
}
