.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-container{
  width:70%;
}

.list-item-song{
  transition: color 0.3s  linear;
  cursor: pointer;

}

.list-item-song:hover .song-name{
  transition: color 0.3s  linear;
  color:#4286f4;
}

@media(max-width:920px){
.list-container{
  width:95%;
  padding-bottom:2rem;
 }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
